textarea {
  resize: none;
}

.title {
  color: aquamarine;
  background-color: brown;
}

.title__link {
  display: flex;
  margin-right: 30;
  margin-left: 30;
}

.link {
  display: flex;
  color: forestgreen;
  border: 3px solid #2339ff;
  padding: 10px;
  margin-bottom: 10px;
}
